<?xml version="1.0" encoding="utf-8" ?>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="IUserService" type="HomeworkSix.Interface.IUserService, HomeworkSix.Interface" />
      <typeAlias alias="UserService" type="HomeworkSix.Services.UserService, HomeworkSix.Services" />
    </typeAliases>
    <container>
      <register type="IUserService" mapTo="UserService" />
      <register type="IUserService" mapTo="UserService" name="UserServiceEx" />
    </container>
  </unity>